# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
burg_venv/
venv/
.venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# Optional
*.log